body {
  height: 100%;
  background: url('../images/e.001%202.png') rgb(79, 0, 128);
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: center center;
  background-attachment: fixed;
  font: 400 1em/1.38 'Open Sans';
  color: rgb(79, 0, 128);
}

.element {
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.element .image {
  width: 288px;
}

.element .text {
  position: absolute;
  top: 24px;
  font-style: normal;
  font-size: 0.938em;
  font-weight: 300;
  text-decoration: none;
  color: rgb(116, 116, 116);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.image {
  display: block;
  float: left;
  height: auto;
  overflow: hidden;
}

.text {
  display: inline-block;
  line-height: 1.38;
}

._button {
  display: block;
  float: left;
  clear: both;
  width: 80%;
  margin-left: 10%;
  background-color: rgb(222, 222, 222);
  line-height: 1.38;
  text-align: center;
}

._container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 28;
  width: 100%;
  height: 66px;
  background-color: rgba(255, 255, 255, 0.8);
}

._element {
  position: absolute;
  top: 20px;
  left: 45.3333333333%;
  z-index: 22;
  width: 48.1666666666%;
  height: 27px;
  border-style: none;
  border-radius: 73px;
  background-color: rgb(255, 255, 255);
}

.image-2 {
  width: 80%;
  margin: 99px 0 0 10%;
}

.image-5 {
  width: 80%;
  margin-left: 10%;
  opacity: 0.8;
}

.image-3,
.image-4,
.image-6 {
  clear: both;
  width: 80%;
  margin-left: 10%;
  opacity: 0.8;
}

.text-1 {
  float: left;
  width: 100%;
  margin: -84px 0 0 0.5833333333%;
  font-size: 1.813em;
  font-weight: 400;
  text-align: center;
  color: rgb(79, 0, 128);
}

.text-10 {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 57px;
  font-weight: 300;
  text-align: center;
  color: rgb(255, 255, 255);
}

.text-2 {
  left: 49.5%;
  z-index: 26;
  width: 4.4166666666%;
}

.text-3 {
  left: 60.1666666666%;
  z-index: 25;
  width: 4.3333333333%;
}

.text-4 {
  left: 70.6666666666%;
  z-index: 24;
  width: 5.5%;
}

.text-5 {
  left: 83.5%;
  z-index: 23;
  width: 5.75%;
}

.text-6 {
  position: relative;
  float: left;
  clear: both;
  z-index: 5;
  margin: -55px 0 0 45.4166666666%;
  font-weight: 400;
  color: rgb(0,0,0);
}

.text-7 {
  position: relative;
  float: left;
  z-index: 7;
  margin: -55px 0 0 45.4166666666%;
  font-weight: 400;
  color: rgb(0,0,0);
}

.text-8 {
  position: relative;
  float: left;
  z-index: 8;
  margin: -55px 0 0 45.4166666666%;
  font-weight: 400;
  color: rgb(0,0,0);
}

.text-9 {
  position: relative;
  float: left;
  z-index: 6;
  margin: -55px 0 0 45.4166666666%;
  font-weight: 400;
  color: rgb(0,0,0);
}

._button-1 {
  height: 178px;
  font-size: 1.188em;
  font-weight: 400;
  color: rgb(79, 0, 128);
}

._button-10 {
  height: 150px;
  font-weight: 400;
  color: rgb(79, 0, 128);
}

._button-11 {
  height: 50px;
  color: rgb(0, 154, 219);
}

._button-2 {
  height: 80px;
  font-size: 1.313em;
  font-weight: 400;
  color: rgb(79, 0, 128);
}

._button-3 {
  height: 146px;
  font-size: 0.938em;
  font-weight: 400;
  color: rgb(79, 0, 128);
}

._button-4 {
  height: 88px;
  font-size: 2.188em;
  font-weight: 400;
  color: rgb(79, 0, 128);
}

._button-5 {
  position: relative;
  z-index: 4;
  height: 190px;
  font-size: 1.125em;
  font-weight: 400;
  color: rgb(79, 0, 128);
}

._button-7 {
  height: 200px;
  font-weight: 400;
  color: rgb(79, 0, 128);
}

._button-8 {
  height: 50px;
  font-weight: 400;
  color: rgb(79, 0, 128);
}

._button-6,
._button-9 {
  height: 80px;
  font-size: 1.938em;
  font-weight: 400;
  color: rgb(79, 0, 128);
}

@media(max-width: 650px) {
  .element .element {
    top: 11px;
    left: 62.15%;
    width: 30%;
    height: 47px;
  }

  .element .image {
    height: auto;
    margin-left: -1.3846153847%;
  }

  .image {
    height: auto;
  }

  .element .text-2 {
    top: 14px;
    left: 67.11%;
  }

  .element .text-3 {
    top: 34px;
    left: 67.11%;
  }

  .element .text-4 {
    top: 14px;
    left: 79.11%;
  }

  .element .text-5 {
    top: 34px;
    left: 79.11%;
  }

  .text-10 {
    margin-top: 33px;
  }

  .text-6 {
    position: relative;
    z-index: 5;
  }

  .text-7 {
    position: relative;
    z-index: 7;
  }

  .text-8 {
    position: relative;
    z-index: 8;
  }

  .text-9 {
    position: relative;
    z-index: 6;
  }

  ._button-5 {
    position: relative;
    z-index: 4;
  }
}