body {
  height: 100%;
  background: url('../images/e.001(4).png') rgb(138, 222, 0);
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: center center;
  background-attachment: fixed;
  font: 400 1.125em/1.38 'Open Sans';
  color: rgb(110, 110, 110);
}

.element .element {
  position: absolute;
  top: 20px;
  left: 45.3333333333%;
  z-index: 15;
  width: 48.1666666666%;
  height: 27px;
  border-style: none;
  border-radius: 73px;
  background-color: rgb(255, 255, 255);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.element .text {
  position: absolute;
  top: 24px;
  font-style: normal;
  font-size: 0.833em;
  font-weight: 300;
  line-height: 1.38;
  text-decoration: none;
  color: rgb(116, 116, 116);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.image {
  display: block;
  height: auto;
  overflow: hidden;
}

.text {
  display: inline-block;
}

._button {
  display: block;
  position: absolute;
  top: 165px;
  width: 40%;
  height: 50px;
  font-size: 0.889em;
  font-weight: 300;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

._container {
  position: fixed;
  top: -5px;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 66px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.element-3 {
  position: relative;
  float: left;
  z-index: 4;
  width: 80%;
  height: 192px;
  margin-left: 10%;
  background-color: rgb(222, 222, 222);
  box-shadow: 0 -5px 10px rgba(0, 0, 0, .5) inset, 0 5px 10px rgba(0, 0, 0, .5) inset;
}

.image-1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 21;
  width: 274px;
}

.image-10,
.image-7,
.image-8,
.image-9 {
  float: left;
  width: 16%;
  margin-top: 9px;
}

.image-2 {
  position: relative;
  float: left;
  z-index: 2;
  width: 80%;
  margin: 265px 0 0 10%;
}

.image-3 {
  float: left;
  width: 26.6666666666%;
  margin-left: 10%;
}

.image-4,
.image-5 {
  float: left;
  width: 26.6666666666%;
}

.image-6 {
  float: left;
  clear: both;
  width: 16%;
  margin: 9px 0 0 10%;
}

.text-1 {
  left: 49.5%;
  z-index: 19;
  width: 4.4166666666%;
}

.text-2 {
  left: 60.1666666666%;
  z-index: 18;
  width: 4.3333333333%;
}

.text-3 {
  left: 70.6666666666%;
  z-index: 17;
  width: 5.5%;
}

.text-4 {
  left: 83.5%;
  z-index: 16;
  width: 5.75%;
}

.text-5 {
  position: relative;
  float: left;
  clear: both;
  z-index: 3;
  width: 60%;
  margin: -84px 0 0 19.9166666666%;
  font-size: 1.111em;
  font-weight: 300;
  line-height: 0.88;
  text-align: center;
  color: rgb(0, 186, 255);
}

.text-6 {
  position: relative;
  float: left;
  clear: both;
  z-index: 5;
  width: 70%;
  margin: -154px 0 0 15.1666666666%;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(110, 110, 110);
}

.text-7 {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 139px;
  font-size: 0.889em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(27, 116, 0);
}

._button-1 {
  left: 50%;
  z-index: 1;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(73, 73, 73);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5) inset;
}

._button-2 {
  left: 10%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgb(170, 170, 170);
}

@media(max-width: 800px) {
  .image {
    height: auto;
  }

  ._element {
    position: relative;
    z-index: 4;
  }

  .element-3 {
    margin-top: -9px;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, .5) inset, 0 5px 10px rgba(0, 0, 0, .5) inset;
  }

  .image-10,
  .image-6,
  .image-7,
  .image-8,
  .image-9 {
    margin-top: 10px;
  }

  .image-2 {
    position: relative;
    z-index: 2;
  }

  .image-3 {
    width: 80%;
  }

  .image-4,
  .image-5 {
    clear: both;
    width: 80%;
    margin-left: 10%;
  }

  .text-5 {
    position: relative;
    z-index: 3;
    margin-top: -59px;
    margin-left: 19.625%;
    font-size: 0.889em;
  }

  .text-6 {
    position: relative;
    z-index: 5;
    margin-top: -138px;
  }

  .text-7 {
    margin-top: 33px;
  }

  ._button-1 {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5) inset;
  }
}

@media(max-width: 650px) {
  body {
    font-size: 1em;
  }

  .element .element {
    top: 11px;
    left: 62.15%;
    width: 30%;
    height: 47px;
  }

  .element .text {
    font-size: 0.938em;
  }

  .image {
    height: auto;
  }

  ._element {
    height: 282px;
  }

  .element .text-1 {
    top: 14px;
    left: 67.11%;
  }

  .element .text-2 {
    top: 34px;
    left: 67.11%;
  }

  .element .text-3 {
    top: 14px;
    left: 79.11%;
  }

  .element .text-4 {
    top: 34px;
    left: 79.11%;
  }

  .element-3 {
    position: relative;
    z-index: 4;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, .5) inset, 0 5px 10px rgba(0, 0, 0, .5) inset;
  }

  .image-2 {
    position: relative;
    z-index: 2;
  }

  .image-3 {
    margin-top: 1px;
  }

  .text-5 {
    position: relative;
    z-index: 3;
    margin-left: 20.1538461538%;
    font-size: 0.938em;
  }

  .text-6 {
    position: relative;
    z-index: 5;
    margin-top: -224px;
    margin-left: 15.2307692307%;
    font-size: 16px;
  }

  ._button-1 {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5) inset;
  }
}

@media(max-width: 450px) {
  .image {
    height: auto;
  }

  .element-3 {
    position: relative;
    z-index: 4;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, .5) inset, 0 5px 10px rgba(0, 0, 0, .5) inset;
  }

  .image-2 {
    position: relative;
    z-index: 2;
  }

  .text-5 {
    position: relative;
    z-index: 3;
    margin-top: -43px;
    margin-left: 19.1111111111%;
  }

  .text-6 {
    position: relative;
    z-index: 5;
    margin-left: 15.1111111111%;
  }

  ._button-1 {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5) inset;
  }
}