body {
  height: 100%;
  background: url('../images/coffeehalf(2).png'), url('../images/coffeehalf.png'), url('../images/e.001(3).png') rgb(255, 184, 0);
  background-repeat: no-repeat, no-repeat, repeat-y;
  background-size: 30% auto, 30% auto, 100% auto;
  background-position: 100% 50px, 0% 50px, center center;
  background-attachment: scroll, scroll, fixed;
  font: 300 1.375em/1.38 'Open Sans';
  color: rgb(73, 35, 0);
}

.element {
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.element .text {
  position: absolute;
  top: 24px;
  font-style: normal;
  font-size: 0.682em;
  text-decoration: none;
  color: rgb(116, 116, 116);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.image {
  display: block;
  height: auto;
  overflow: hidden;
}

.text {
  display: inline-block;
  line-height: 1.38;
}

._button {
  display: block;
  float: left;
  width: 50%;
  height: 355px;
  margin: 100px 0 0 25%;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .5) inset;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(73, 35, 0);
}

._container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 66px;
  background-color: rgba(255, 255, 255, 0.8);
}

._element {
  position: absolute;
  top: 20px;
  left: 45.3333333333%;
  z-index: 3;
  width: 48.1666666666%;
  height: 27px;
  border-style: none;
  border-radius: 73px;
  background-color: rgb(255, 255, 255);
}

.image-1 {
  float: left;
  width: 264px;
}

.image-2 {
  position: absolute;
  bottom: -666px;
  left: 51.5833333333%;
  z-index: 9;
  width: 31.9166666666%;
}

.image-3 {
  position: fixed;
  bottom: 30px;
  left: 19.6666666666%;
  width: 31.9166666666%;
}

.text-1 {
  left: 49.5%;
  z-index: 7;
  width: 4.4166666666%;
}

.text-2 {
  left: 60.1666666666%;
  z-index: 6;
  width: 4.3333333333%;
}

.text-3 {
  left: 70.6666666666%;
  z-index: 5;
  width: 5.5%;
}

.text-4 {
  left: 83.5%;
  z-index: 4;
  width: 5.75%;
}

.text-5 {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  font-size: 0.727em;
  font-weight: 400;
  text-align: center;
  color: rgb(80, 36, 0);
}

@media(max-width: 1000px) {
  body {
    font-size: 1.125em;
  }

  .element {
    left: -1%;
  }

  .element .element {
    top: 11px;
    left: 62.1538461538%;
    width: 31.4%;
    height: 47px;
  }

  .element .image {
    height: auto;
  }

  .element .text {
    font-size: 0.833em;
  }

  .image {
    height: auto;
  }

  .text {
    font-size: 0.889em;
  }

  ._button {
    width: 80%;
    height: 307px;
    margin-top: 97px;
    margin-left: 10%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5) inset;
    font-size: 18px;
  }

  .element .image-2 {
    left: 52.5828124999%;
  }

  .element .text-1 {
    top: 14px;
    left: 67.1057692307%;
  }

  .element .text-2 {
    top: 34px;
    left: 67.1057692307%;
  }

  .element .text-3 {
    top: 14px;
    left: 79.1057692307%;
  }

  .element .text-4 {
    top: 36px;
    left: 79.1057692307%;
  }
}

@media(max-width: 800px) {
  body {
    font-size: 1em;
  }

  .element .text {
    font-size: 0.938em;
  }

  .element .image,
  .image {
    height: auto;
  }

  ._button {
    width: 66%;
    margin-left: 17%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5) inset;
    font-size: 16px;
  }
}

@media(max-width: 650px) {
  .element .element {
    width: 30%;
  }

  .element .image {
    height: auto;
  }

  .image {
    height: auto;
  }

  ._button {
    width: 80%;
    margin-left: 10%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5) inset;
  }

  .element .image-2 {
    width: 32%;
  }

  .element .text-4 {
    top: 34px;
  }

  .image-3 {
    left: 26.923076923%;
  }
}

@media(max-width: 500px) {
  body {
    font-size: 1em;
  }

  .element .image {
    height: auto;
  }

  .image {
    height: auto;
  }

  .text {
    font-size: 0.813em;
  }

  ._button {
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5) inset;
  }

  .element .image-2 {
    width: 31.8%;
  }
}

@media(max-width: 400px) {
  body {
    font-size: 0.813em;
  }

  .element .image {
    height: auto;
  }

  .element .text {
    font-size: 1.154em;
  }

  .image {
    height: auto;
  }

  .text {
    font-size: 1em;
  }

  ._button {
    height: 213px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5) inset;
    font-size: 13px;
  }

  .element .image-2 {
    left: 51.58203125%;
    width: 32%;
  }
}