body {
  height: 100%;
  background: url('../images/e.001%202.png') rgb(255, 255, 255);
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: center center;
  background-attachment: fixed;
  font: 300 1em/1.38 'Open Sans';
  color: rgb(138, 138, 138);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.element {
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.element .image {
  float: left;
  width: 265px;
  margin-top: 4px;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.element .text {
  display: inline-block;
  position: absolute;
  top: 24px;
  font-size: 0.938em;
  text-decoration: none;
  color: rgb(116, 116, 116);
}

.image {
  display: block;
  height: auto;
  overflow: hidden;
}

.text {
  font-style: normal;
  line-height: 1.38;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

._button {
  display: block;
  float: left;
  clear: both;
  width: 16.8527918781%;
  height: 75px;
  margin: 36px 0 0 83.1472081218%;
  border-top: 2px solid rgb(0, 146, 209);
  border-bottom: 2px solid rgb(0, 146, 209);
  border-left: 2px solid rgb(0, 146, 209);
  border-radius: 50px 3px 3px 50px;
  background-color: rgba(222, 222, 222, 0);
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 133, 255);
}

._container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  width: 100%;
  height: 66px;
  background-color: rgba(255, 255, 255, 0.8);
}

._element {
  position: absolute;
  top: 20px;
  left: 45.3333333333%;
  z-index: 6;
  width: 48.1725888324%;
  height: 27px;
  border-style: none;
  border-radius: 73px;
  background-color: rgb(255, 255, 255);
}

.image-2 {
  position: relative;
  float: left;
  z-index: 5;
  width: 100%;
}

.image-3 {
  float: left;
  clear: both;
  width: 32.9949238578%;
  margin-top: 9px;
}

.image-4 {
  float: left;
  width: 32.9949238578%;
  margin: 9px 0 0 0.6598984771%;
}

.image-5 {
  float: right;
  width: 32.9949238578%;
  margin-top: 9px;
}

.text-1 {
  left: 49.5%;
  z-index: 10;
  width: 4.4162436548%;
}

.text-2 {
  left: 60.1666666666%;
  z-index: 9;
  width: 4.3147208121%;
}

.text-3 {
  left: 70.6666666666%;
  z-index: 8;
  width: 5.5329949238%;
}

.text-4 {
  left: 83.5%;
  z-index: 7;
  width: 5.7360406091%;
}

.text-5 {
  float: left;
  clear: both;
  width: 100%;
  min-height: 20px;
  margin-top: 94px;
  text-align: center;
  color: rgb(138, 138, 138);
}

@media(max-width: 1930px) {
  .element .image {
    height: auto;
  }

  .image {
    height: auto;
  }

  ._button {
    width: 16.4248704663%;
    height: 66px;
    margin-top: 35px;
    margin-left: 83.5751295336%;
  }

  .image-2 {
    position: relative;
    z-index: 5;
  }

  .image-4 {
    margin-top: 5px;
    margin-left: 0.414507772%;
  }

  .image-3,
  .image-5 {
    margin-top: 5px;
  }

  .text-5 {
    margin-top: 8px;
  }
}

@media(max-width: 1200px) {
  body {
    font-size: 1em;
  }

  .element .image {
    height: auto;
  }

  .image {
    height: auto;
  }

  ._button {
    width: 26.4166666666%;
    margin-top: 25px;
  }

  .image-2 {
    position: relative;
    z-index: 5;
  }

  .image-4 {
    margin-top: 4px;
    margin-left: 0.5833333333%;
  }

  .image-3,
  .image-5 {
    margin-top: 4px;
  }

  .text-5 {
    margin-top: 36px;
  }
}

@media(max-width: 950px) {
  .element .image {
    height: auto;
  }

  .image {
    height: auto;
  }

  ._button {
    margin-top: 33px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    font-size: 0.813em;
  }

  .image-2 {
    position: relative;
    z-index: 5;
  }

  .image-3 {
    margin-top: 0;
  }

  .image-4 {
    margin-left: 0.5263157894%;
  }

  .text-5 {
    margin-top: 28px;
  }
}

@media(max-width: 800px) {
  body {
    font-size: 1em;
  }

  .element .image {
    height: auto;
  }

  .image {
    height: auto;
  }

  ._button {
    margin-top: 21px;
    margin-left: 73.5%;
  }

  .image-2 {
    position: relative;
    z-index: 5;
  }

  .image-4 {
    margin-left: 0.5%;
  }

  .text-5 {
    margin-top: 6px;
  }
}

@media(max-width: 650px) {
  .element .element {
    top: 11px;
    left: 62.1538461538%;
    width: 30%;
    height: 47px;
  }

  .element .image {
    height: auto;
  }

  .image {
    height: auto;
  }

  ._button {
    margin-top: 39px;
  }

  .element .text-1 {
    top: 14px;
    left: 67.1057692307%;
  }

  .element .text-2 {
    top: 34px;
    left: 67.1057692307%;
  }

  .element .text-3 {
    top: 14px;
    left: 79.1057692307%;
  }

  .element .text-4 {
    top: 34px;
    left: 79.1057692307%;
    width: 5.8461538461%;
  }

  .image-2 {
    position: relative;
    z-index: 5;
  }

  .image-3 {
    width: 100%;
  }

  .image-4 {
    clear: both;
    width: 100%;
    margin-top: 0;
    margin-left: -0.1538461539%;
  }

  .image-5 {
    clear: both;
    width: 100%;
    margin-top: 0;
  }

  .text-5 {
    margin-top: 23px;
  }
}

@media(max-width: 500px) {
  body {
    font-size: 0.625em;
  }

  .element .image {
    height: auto;
  }

  .element .text {
    font-size: 1.5em;
  }

  .image {
    height: auto;
  }

  .text {
    font-size: 10px;
  }

  ._button {
    margin-top: 12px;
    font-size: 1.3em;
  }

  .image-2 {
    position: relative;
    z-index: 5;
  }

  .text-5 {
    margin-top: 20px;
  }
}

@media(max-width: 300px) {
  body {
    font-size: 0.563em;
  }

  .element .image {
    height: auto;
  }

  .element .text {
    font-size: 1.667em;
  }

  .image {
    height: auto;
  }

  .text {
    font-size: 9px;
  }

  ._button {
    margin-top: 22px;
    font-size: 1.444em;
  }

  .image-2 {
    position: relative;
    z-index: 5;
  }

  .text-5 {
    margin-top: 16px;
  }
}