
html, body {
	position: relative;
	height: 100%;
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
}

.top-header {
	width: 100%;
	height: 200px;
	background-color: #02B8D0;
	border-top: 10px solid #0097A0;
	z-index: 10;
	position: relative;
}

.title {
	color: #FFF;
	font-size: 40px;
	position: absolute;
	top: -180px;
	z-index: 30;
}

.flag:hover {
	box-shadow: 2px 2px 2px rgba(50,50,50,0.7);
	border-radius: 20px;
}

.flag-jp {
	width: 40px;
	position: absolute;
	top: -175px;
	right:65px;
	z-index: 30;
}

.flag-eng {
	width: 40px;
	position: absolute;
	top: -175px;
	right:10px;
	z-index: 30;
}

.title-img {
	position: relative;
	/*left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;*/
	/*top: 80px;*/
	width: 100%;
	margin-top: -120px;
	/*height: 300px;*/
	z-index: 20;
	box-shadow: 2px 2px 2px rgba(50,50,50,0.7);
}

.container2 {
	margin-top: 10%;
	position: absolute;
	width: 80%;
	min-height: 100%;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	z-index: 20;
}

nav {
	width: 100%;
	height: 70px;
}
nav ul {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
}

nav ul li {
	float: left;
	width: 25%;
	height: 70px;
	box-shadow: 10px;
	list-style: none;
	padding: 23px 0;
	/*border: 2px solid #555;*/
	box-shadow: 1px 1px 3px rgba(50,50,50,0.7);
	text-align: center;
}

nav ul li:hover {
	box-shadow: 3px 3px 5px rgba(50,50,50,0.7);
}

nav ul a {
	line-height: 24px;
	font-size: 24px;
	font-weight: bold;
}
nav ul a:hover {
	text-decoration: none;
	color: auto;
}

.red, a.red:hover {
	color: #EF4E80;
}

.blue, a.blue:hover {
	color: #42B5E7;
}

.green, a.green:hover {
	color: #87BE46;
}

.orange, a.orange:hover {
	color: #F05A54;
}

.red-bg {
	background-color: #EF4E80; 
}

.blue-bg {
	background-color: #42B5E7; 
}

.green-bg {
	background-color: #87BE46; 
}

.orange-bg {
	background-color: #F05A54; 
}


.box {
	width: 100%;
	min-height: 300px;
	height: auto;
	overflow: hidden;
	box-shadow: 1px 1px 3px rgba(50,50,50,0.7);
	/*margin-bottom: 30px;*/
}

.box-s {
	width: 100%;
	min-height: 20px;
	height: auto;
	overflow: hidden;
	box-shadow: 1px 1px 3px rgba(50,50,50,0.7);
	margin: 10px 0;
	/*margin-bottom: 30px;*/
}

.box-s:hover {
	box-shadow: 2px 2px 4px rgba(50,50,50,0.7);
}

.box-title {
	width: 70%;
	height: 60px;
	float: left;
	box-shadow: 1px 1px 3px rgba(50,50,50,0.5);
	color: #FFF;
	font-size: 24px;
	font-weight: bold;
	line-height: 24px;
	padding: 18px 20px;
}

.box-title-s {
	width: 50%;
	height: 60px;
	float: left;
	box-shadow: 1px 1px 3px rgba(50,50,50,0.5);
	color: #FFF;
	font-size: 24px;
	font-weight: bold;
	line-height: 24px;
	padding: 18px 20px;
}

.box-content {
	float:left;
	width: 100%;
	padding: 20px 40px;
	font-size: 18px;
	color: #000;
	/*min-height: 240px;*/
}

.box-content-s {
	float:left;
	width: 100%;
	padding: 10px 10px;
	font-size: 18px;
	color: #000;
	text-align: center;
	/*min-height: 240px;*/
}



























