/* サイズの違う画像を埋め込むためのスタイル */
.limg img {
  width: 960px;
  max-width: 100%;
}
.mimg img {
  width: 720px;
  max-width: 100%;
}
.simg img {
  width: 480px;
  max-width: 100%;
}
.ssimg img {
  width: 240px;
  max-width: 100%;
}

/* 外部リンクアイコン */
a[target="_blank"] {
  padding-left: 13px;
  background: url(../img/link.png) no-repeat center left;
  }

a[href^="http://www.shibumaku.jp/"] {
  background:none;
  padding-right:0px;
  margin-right:0px;
}