/* ================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   Customized to include a flexible grid system, flexible image
   ================================================================ */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
  margin: 20px;
  padding: 20px;
  background: #ffae00;
  border: 4px solid #ffe98e;
  color: #000;
}

.chromeframe a {
  padding: 3px;
  background: #ffe98e;
  color: #ff0000;
}

.chromeframe a:hover {
  text-decoration: underline;
  color:#ff0000;
}


/* ================================================================
   Author's custom styles
   ================================================================ */

/* ボックスモデルの指定 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}


/* ================================================================
   ヘッダー/ナビゲーション
   ================================================================ */

/* ツールバー */
#tbar {
  background: #000033;
}

#logo {
  float: left;
  margin: 0 0 0 0.3em;
  padding: 0.2em;
  font-weight: normal;
}
#logo a {
  color: #fff;
  text-decoration: none;
}
#logo a:hover {
  color: #33ccff;
}

@media screen and (max-width:21.25em) {
  #logo {
    padding: 0.4em 0;
    margin: 0;
    font-size: 1.4em;
  }
}

#menu-icon {
  float: right;
  margin: 0.7em 0.3em 0 0;
}
#menu-icon a {
  display: block;
  width: 8em;
  padding: 0.4em;
  background: #009966;
  border-radius: 0.2em;
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
#menu-icon a:hover {
  background: #00dd66;
}
#menu-icon .menu-on {
  background: #fff;
  color: #000033;
}
#menu-icon .menu-on:hover {
  background: #ddd;
}

@media screen and (max-width:21.25em) {
  #menu-icon {
    margin: 0.4em 0 0 0;
  }
  #menu-icon a {
    width: 6em;
  }
}

/* ナビゲーション */
#mainnavi {
  background: #99eeff;
  padding: 1em 0;
  display: none;
  border-bottom: 0.4em solid #000033;
}

#mainnavi a.main-buttons {
  display: block;
  padding: 3em 0;
  margin-bottom: 1em;
  background: #000066;
  text-decoration: none;
  text-align: center;
  color: #fff;
}
#mainnavi a.sub-buttons {
  display: block;
  padding: 1.5em 0;
  background: #00cc66;
  margin-bottom: 1em;
  text-decoration: none;
  text-align: center;
  color: #fff;
}
#mainnavi a.special-buttons {
  display: block;
  padding: 2em 0;
  margin-bottom: 1em;
  background: #009933;
  font-size: 1.4em;
  text-decoration: none;
  text-align: center;
  color: #fff;
}
#mainnavi h2 {
  padding: 0.2em 0.4em;
  margin: 0;
  background: #000066;
  font-size: 1.2em;
  font-weight: normal;
  color: #fff;
}


/* ================================================================
   共通ページ要素スタイル
   ================================================================ */

#main {
  background: #fff;
  padding-bottom: 2em;
}

#main h1 {
  margin: 0.3em 0;
  padding: 0.2em;
  border-bottom: 1px solid #ddd;
  font-size: 1.6em;
}

#main h2 {
  margin: 0.3em 0;
  padding: 0.2em 0.3em;
  background: #ccccff;
  font-size: 1.2em;
  color: #000022;
}

#main p {
  padding: 0 0 1em;
}

/* 基本テーブル */
#main table {
  width: 100%;
  margin: 1em 0;
  border-top: #7f9966 1px solid;
  border-left: #7f9966 1px solid;
  font-size: 0.95em;
}
#main th, #main td {
  border-right: #7f9966 1px solid;
  border-bottom: #7f9966 1px solid;
  padding: 0.2em 0.5em;
}
#main th {
  background: #ecf7e1;
}
#main td {
  background: #fff;
}

/* ----------
   フレキシブル・メディア
   ---------- */
img {
  width: 100%;
  max-width: 100%;
}
video {
  max-width: 100%;
  height: auto;
}

/* YouTubeやVimeoなどのiFrameを使った埋め込み動画用スタイル */
.video-container {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* レスポンシブ・イメージ用 */
.res-image {
  margin-bottom: 1em;
}

/* ----------
   サブナビゲーション
   ---------- */
nav .subnavi {
  padding: 0;
  margin: 0.8em 0 0.6em;
}
nav .subnavi li {
  display: inline-block;
  padding: 0;
  margin: 0 0.2em 0.1em 0;
  float: left;
}
nav .subnavi a {
  display: block;
  padding: 0.2em 0.4em;
  font-size: 0.9em;
  text-decoration: none;
  color: #00cc66;
}
nav .subnavi a:hover {
  background: #00cc66;
  border-radius: 0.3em;
  color: #fff;
}
nav .subnavi-on a {
  background: #2c8aef;
  border-radius: 0.3em;
  color: #fff; 
}


/* ----------
   フォーム
   ---------- */
/* Select */
input, select, textarea {
  width: 94%;
  margin-bottom: 0.4em;
}


/* ================================================================
   個別ページ特有スタイル
   ================================================================ */

/* ----------
   トップページ メインボタン
   ---------- */
#main .top-buttons {
  margin: 0;
}
#main .top-buttons a {
  display: block;
  padding: 2em 0;
  border-radius: 0.2em;
  background: #6600ff;
  text-align: center;
  text-decoration: none;
  color: #fff;
}


/* ================================================================
   フッター/ナビゲーション
   ================================================================ */

footer { background: #fff; }

footer nav {
  background: #000033;
}

#footnavi {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
}

#ptop {
  padding: 0;
  margin: 0;
  float: right;
  list-style: none;
  background: #264e1b;
}

#footnavi li, #ptop li {
  display: inline-block;
  float: left;
}
#footnavi a, #ptop a {
  display: block;
  padding: 0.6em 0.8em;
  text-decoration: none;
  color: #fff;
}

footer p {
  padding: 1em 0 2em;
  font-size: 0.9em;
  text-align: center;
}


/* ================================================================
   Flexible Grid Sytem
   - Based on Foundation "The Grid" http://foundation.zurb.com/
   ================================================================ */

.row {
  width: 1140px;
  max-width: 100%;
  min-width: 768px;
  margin: 0 auto;
  overflow: hidden;
}

.row .row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -10px;
}

.cols {
  min-height: 1px;
  padding: 0 10px;
  float: left;
  position: relative;
}

/* カラムのpaddingをなくすcollapseクラス */
.row.collapse .cols, .row.collapse .cols { padding: 0; }
.row .row.collapse { margin: 0; }

[class*="cols"] + [class*="cols"]:last-child { float: right; }
[class*="cols"] + [class*="cols"].end { float: left; }

.row .one { width: 8.33%; }
.row .two { width: 16.66%; }
.row .three { width: 25%; }
.row .four { width: 33.33%; }
.row .five { width: 41.66%; }
.row .six { width: 50%; }
.row .seven { width: 58.33%; }
.row .eight { width: 66.66%; }
.row .nine { width: 75%; }
.row .ten { width: 83.33%; }
.row .eleven { width: 91.66%; }
.row .twelve { width: 100%; }

/* PUSH & PULL */
.push-two { left: 16.66%; }
.pull-two { right: 16.66%; }
.push-three { left: 25%; }
.pull-three { right: 25%; }
.push-four { left: 33.33%; }
.pull-four { right: 33.33%; }
.push-five { left: 41.66%; }
.pull-five { right: 41.66%; }
.push-six { left: 50%; }
.pull-six { right: 50%; }
.push-seven { left: 58.33%; }
.pull-seven { right: 58.33%; }
.push-eight { left: 66.66%; }
.pull-eight { right: 66.66%; }
.push-nine { left: 75%; }
.pull-nine { right: 75%; }
.push-ten { left: 83.33%; }
.pull-ten { right: 83.33%; }

@media screen and (max-width:49.25em){
/* 788px以下向けのモバイル版グリッド・スタイル */
  .cols {
    width: auto !important;
    height: 100%;
    float: none;
  }
  .row { width: auto; min-width: 0; margin-left: 0; margin-right: 0; }
  [class*="cols"] + [class*="cols"]:last-child { float: none; }
  [class*="cols"] + [class*="cols"].end { float: none; }

  /* PUSH & PULLの調整*/
  .push-two, .push-three, .push-four, .push-five, .push-six, .push-seven, .push-eight, .push-nine, .push-ten { left: auto; }
  .pull-two, .pull-three, .pull-four, .pull-five, .pull-six, .pull-seven, .pull-eight, .pull-nine, .pull-ten { right: auto; }

  /* モバイル版4カラムグリッド */
  .row .mobile-one { width: 25% !important; float: left; padding: 0 10px; }
  .row .mobile-one:last-child { float: right; }
  .row .mobile-one.end { float: left; }
  .row.collapse .mobile-one { padding: 0; }

  .row .mobile-two { width: 50% !important; float: left; padding: 0 10px; }
  .row .mobile-two:last-child { float: right; }
  .row .mobile-two.end { float: left; }
  .row.collapse .mobile-two { padding: 0; }

  .row .mobile-three { width: 75% !important; float: left; padding: 0 10px; }
  .row .mobile-three:last-child { float: right; }
  .row .mobile-three.end { float: left; }
  .row.collapse .mobile-three { padding: 0; }

  .row .mobile-four { width: 100% !important; float: left; padding: 0 10px; }
  .row .mobile-four:last-child { float: right; }
  .row .mobile-four.end { float: left; }
  .row.collapse .mobile-four { padding: 0; }

  /* モバイル用 PUSH & PULL */
  .mobile-push-one { left: 25%; }
  .mobile-pull-one { right: 25%; }
  .mobile-push-two { left: 50%; }
  .mobile-pull-two { right: 50%; }
  .mobile-push-three { left: 75%; }
  .mobile-pull-three { right: 75%; }

  /* モバイル用collapseクラス */
  .row.mobile-collapse .cols, .row.mobile-collapse .cols { padding: 0; }
  .row .row.mobile-collapse { margin: 0; }
  .row.mobile-collapse .mobile-one { padding: 0; }
  .row.mobile-collapse .mobile-two { padding: 0; }
  .row.mobile-collapse .mobile-three { padding: 0; }
  .row.mobile-collapse .mobile-four { padding: 0; }
}

@media screen and (max-width:25em){
/* 400px以下で強制的に1カラムにするクラス */
  .row .cols.force-one {
    float: none;
    width: auto !important;
    height: 100%;
  }
}


/* ================================================================
   Media Queries
   ================================================================ */

@media only screen and (min-width: 35em) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {

}

/* ================================================================
   Helper classes
   ================================================================ */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ================================================================
   Print styles
   ================================================================ */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}