div.paragraph {
  margin:-1ex 0ex 0ex 5ex;
}

div.minipara {
  margin:0ex 0ex 0ex 4ex;
}

body {
  background-color:#ffff66;
}

.standard  {
  background-color:#ffff66;
}

h1 {
  text-align:center;
  letter-spacing:1ex;
}

.bold1 {
  position:absolute;
  top:5ex;
  right:10ex;
  font-weight:bold;
}