table.normal1 {
  border-collapse:collapse;
  height:1.2em;
  width:42em;
  table-layout:fixed;
}

table.normal2 {
  border-collapse:collapse;
  height:1.2em;
  width:39.5em;
  table-layout:fixed;
}

table.normal3 {
  border-collapse:collapse;
  height:1.2em;
  width:48em;
  table-layout:fixed;
}

table.normal4 {
  border-collapse:collapse;
  height:1.2em;
  width:57em;
  table-layout:fixed;
}

col.rank {width:1.5em;}

col.record {width:4em;}

col.wind {width:2.5em;}

col.old {width:1.5em;}

col.name {width:6em;}

col.name2 {width:12em;}

col.date {width:5em;}

col.place {width:8em;}

col.public {width:1.5em;}

col.rname {width:16em;}

col.title {
  width:7em;
  text-align:center;
}

col.date2 {width:6em;}

col.bname {width:12em;}