body {
  line-height:150%; 
  font-family:"MS PºÞ¼¯¸",sans-serif;
}

p {
  text-indent:20px;
  margin:0px 0px 0px 1em;
}

.standard {
  margin:10px 10% 10px 3%;
  line-height:200%;
  background-color:#ffffff;
}




.records{
  background-color:#66ccff;
  font-family:"JSºÞ¼¯¸";
}

.height5{height:1%;}

.bold {font-weight:bold;}

