html {

	font-family: "Helvetica", "メイリオ";

}




body {

	background-image: url('stampblocks.png');

}




#hoverin {

	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;

	-webkit-animation-name: hoverin;
	-moz-animation-name: hoverin;

}



@-webkit-keyframes hoverin {

	from {
		margin-top: 100%;

			width: 250%;
	}



	to {
		margin-top: 0%;

			width: 100%;
	}

}

@-moz-keyframes hoverin {

	from {
		margin-top: 100%;

			width: 250%;
	}



	to {
		margin-top: 0%;

			width: 100%;
	}

}





#headphoto {

	position: relative;

		top: 10px;

	border-radius: 600px;

	text-align: center;

	-webkit-transform: scale(0.9,0.9);
	-moz-transform: scale(0.9,0.9);


}



#maintitle {
	
	position: relative;
		bottom: 800px;
	-webkit-transform: scale(0.8,0.8) rotate(-15deg);
	-moz-transform: scale(0.8,0.8) rotate(-15deg);
}





/*　渋幕公式 */

#circle1 {

	position: relative;

		top: -700px;

		left: 10px;
	background-color: #C6FF51;

	border: double 7px #1AE846;

	border-radius: 90px;

	width: 100px;

	height: 100px;

	padding: 70px 40px 70px 40px;

	color: #35BA39;

	font-size: 20px;

	font-weight: bold;

	text-decoration: none;

	text-shadow: 1px 2px 1px rgba(0,0,0,0.3);

	box-shadow: 15px 10px 7px rgba(0,0,0,0.6);

	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;

	/* linear, ease-in, ease-out, ease-in-out */

	/*-webkit-transition-delay: 2s;*/

}


#circle1:hover {

	background-color: #1AE846;

}





/*　活動内容 */

#circle2 {

	position: relative;

		bottom: 300px;

		left: 170px;

	background-color: #FFFF99;

	border: double 7px #FFC94C;

	border-radius: 100px;

	padding: 65px 35px 65px 35px;

	width: 80px;

	height: 80px;

	color: #FF6F00;
	font-size: 20px;

	font-weight: bold;

	text-decoration: none;

	text-shadow: 1px 2px 1px rgba(0,0,0,0.3);

	box-shadow: 15px 10px 7px rgba(0,0,0,0.6);

	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;

}


#circle2:hover {

	background-color: #FFC94C;

}





/* 部活紹介トップ */

#circle3 {

	position: relative;

		bottom: 300px;

		left: 250px;

	background-color: #00FFFF;

	border: double 7px #27BFFF;

	border-radius: 100px;

	padding: 80px 20px 80px 20px;

	width: 90px;

	height: 90px;

	color: #2765FF;

	font-size: 20px;

	font-weight: bold;

	text-decoration: none;

	text-shadow: 1px 2px 1px rgba(0,0,0,0.3);

	box-shadow: 15px 10px 7px rgba(0,0,0,0.6);

	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
}


#circle3:hover {

	background-color: #27BFFF;

}





/*　どんな部活？ */

#circle4 {

	position: relative;

		bottom: 650px;

		left: 180px;

	background-color: #FFCCCC;

	border: double 7px #FF99CC;

	border-radius: 100px;

	padding: 65px 15px 65px 15px;

	width: 90px;

	height: 90px;

	color: #FF33CC;

	font-size: 20px;

	font-weight: bold;

	text-decoration: none;

	text-shadow: 1px 2px 1px rgba(0,0,0,0.3);

	box-shadow: 15px 10px 7px rgba(0,0,0,0.6);

	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;

}


#circle4:hover {

	background-color: #FF99CC;

}





/* Gallery */


#circle5 {

	position: relative;

		bottom: 800px;

		right: 230px;

	background-color: #CCCCFF;

	border: double 7px #CC66FF;

	border-radius: 100px;

	padding: 60px 30px 60px 30px;

	width: 80px;

	height: 80px;

	color: #9900CC;

	font-family: "Palatino Linotype", "Book Antiqua", "Palatino, serif";

	font-style: italic;

	font-size: 30px;

	font-weight: bold;

	text-decoration: none;

	text-shadow: 1px 2px 1px rgba(0,0,0,0.3);

	box-shadow: 15px 10px 7px rgba(0,0,0,0.6);

	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;

}


#circle5:hover {

	background-color: #CC66FF;

}






/* Page info */


#circle6 {

	position: relative;

		bottom: 100px;

		right: 650px;

	background-color: #CFF6FE;

	border: double 6px white;

	border-radius: 300px;

	padding: 45px 20px 45px 20px;

	color: #4FCBFF;

	text-decoration: none;

	text-shadow: 1px 2px 1px rgba(0,0,0,0.3);

	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;

}


#circle6:hover {

	background-color: white;

}









