/*
このファイルは
ekiden.html
に適用される
*/



table.normal1 {
  border-collapse:collapse;
  height:1em;
  width:64.5em;
  table-layout:fixed;
}

/*
<table class="normal1">～</table>において
ボーダー(表の線):重ねる
高さ:1em
幅:64.5em
表の列幅:固定レイアウト
*/



table.normal2 {
  border-collapse:collapse;
  height:1em;
  width:52.5em;
  table-layout:fixed;
}

/*
<table class="normal2">～</table>において
ボーダー(表の線):重ねる
高さ:1em
幅:52.5em
表の列幅:固定レイアウト
*/



col.year {width:4.5em;}

/*
<col class="year">～</col>において
幅:4.5em
*/



col.title {width:5em;}

/*
<col class="title">～</col>において
幅:5em
*/



col.name {width:7em;}

/*
<col class="name">～</col>において
幅:7em
*/



col.time {width:7em;}

/*
<col class="time">～</col>において
幅:7em
*/