/*
このファイルは
events.html
に適用される
*/



body  {
  background-color:#ccffff;
}

/*
<body>～</body>において
背景色:#ccffff
*/



.standardex {
  font-size:large;
  font-weight:600;
  margin:1em 5em 0em 5em;
  line-height:300%;
  background-color:#ccffff;
  width:20em;
  position:relative;
  top:-20em;
}

/*
<(何か) class="standerdex">～</(何か)>において
文字の大きさ:large
文字の太さ:600
余白:上に1em 右に5em 下に0em 左に5em
行の高さ:300%
背景色:#ccffff
幅:20em
配置:相対位置
上端からの距離:-20em
*/



div#top {
  text-align:center;
  font-family:sans-serif;
  font-weight:bold;
  font-size:x-large;
  letter-spacing:0.5ex;
  line-height:150%;
}

/*
<div id="top">～</div>において
文字を寄せる:中央
フォント:ゴシック系
文字の太さ:太字
文字の大きさ:x-large
文字の間隔:0.5ex
行の高さ:150%
*/



a#link {
  font-style:italic;
}

/*
<a id="link">～</a>において
フォントスタイル:イタリック体
*/



.box1 {
  position:static;
  width:430px;
}

/*
<(何か) class="box1">～</(何か)>において
配置方法:指定なし
幅:430px
*/


.box2 {
  position:relative;
  top:5em;
  width:430px;
}

/*
<(何か) class="box2">～</(何か)>において
配置方法:相対位置
上端からの距離:5em
幅:430px
*/



.box3 {
  margin-left:30em;
  position:relative;
  top:11em;
  width:430px;
}

/*
<(何か) class="box3">～</(何か)>において
左の余白:30em
配置方法:相対位置
上端からの距離:11em
幅:430px
*/



td {
  width:210px;
  text-align:center;
}

/*
<td>～</td>において
幅:210px
文字を寄せる:中央
*/



.bold {
  position:relative;
  top:-15em;
}

/*
<(何か) class="bold">～<(何か)>において
配置方法:相対位置
上端からの距離:-15em
*/