/*
このファイルは
index.html
に適用される
*/



#top {
  font-family:"ＤＦ行書体",cursive; 
  font-size:50px;
  white-space:nowrap; 
}

/*
<(何か) id="top">～</(何か)>において
フォント:DF行書体,ない場合は筆記体・草書体のフォント
フォントサイズ:50px
半角スペースなど:1つの半角スペースとして表示。勝手に改行されない。
*/



div#yellow {
  background-color:#FFFF00;
  position: relative;  
}

/*
<div id="yellow">～</div>において
背景色:#FFFF00
配置方法:相対位置
*/



.button{
  display:inline-block;
  width:100px;
  padding:16px;
  border-top:2px solid #000080;
  border-bottom:2px solid #000080;
  border-left:4px solid #000080;
  border-right:4px solid #000080;
  text-align:center;
  font-size:20px;
  font-weight:bold;
  text-decoration:none;
  color:#000000;
  background-color:#7FFFD4;
}

/*
<(何か) class="button">～</(何か)>において
表示形式:インライン形式。高さ・横幅などを指定できる
幅:100px
ボックス内の余白:上下左右16px
上の線:太さ2px 一本線 色#000080
下の線:太さ2px 一本線 色#000080
左の線:太さ4px 一本線 色#000080
右の線:太さ4px 一本線 色#000080
文字を寄せる:中央
文字の大きさ:20px
文字の太さ:太字
テキスト装飾:なし
文字色:#000000
背景色:#7FFFD4
*/



a:hover{
  color:#FFFFFF;
  background-color:#009999;
}

/*
<a>～</a>においてマウスカーソルを乗せたとき
色:#FFFFFF
背景色:#009999
*/



img.bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

/*
<img class="bg">～</img>において
高さの最小値:100%
幅の最小値:1024px
幅:100%
高さ:自動設定
配置方法:絶対位置、スクロールしても位置固定
上端からの距離:0
左端からの距離:0
*/


	 
@media screen and (max-width: 1024px){
  img.bg {
  left: 50%;
  margin-left: -512px; }
}

/*
このcssをスクリーンで最大幅が1024pxのものに対して適用する
<img class="bg">～</img>において
左端からの距離:50%
左の余白:-512px
*/


	 
div#container {
  position: relative;
  margin:10px 10% 10px 3%;
  line-height:200%;
  background-color:#ffffff;
  clear:both;
}

/*
<div id="container">～</div>において
配置方法:相対位置
余白:上に10px 右を10% 下に10px 左を3%
行の高さ:200%
背景色:#ffffff
寄せた要素に対する回り込みの解除:左寄せ 右寄せどちらも解除
*/



div#button {
  position:relative;
}

/*
<div id="buttun">～</div>において
配置方法:相対位置
*/



table {
  position:relative;
  left:2em;
  top:1em;
  background-color:#ffffff;
}

/*
<table>～</table>において
配置方法:相対位置
左端からの距離:2em
上端からの距離:1em
背景色:#ffffff
*/



caption {
  color:#ff0000;
  font-style:italic;
  font-weight:bolder;
  background-color:#ffffff;
}

/*
<caption>～</caption>において
文字色:#ff0000
フォントスタイル:イタリック体
文字の太さ:一段階太く
背景色:#ffffff
*/