/*ページ全体の指定*/
body{
margin:0px;
padding:0px;
font-size:120%;
font-weight:bold;
font-family:sans-serif;
}

/*ページ全体のリンク指定*/
a{
	color:#0000ff;
	}
#foot a:hover,a:hover{
	color:#4C474B;
	}

img{
margin:0px;
padding:0px;
}	


	
/*ページの輪郭*/
#flame{
width: 950px;
margin:0 auto;
background-image:url(../newimg/bg.jpg);
background-repeat:repeat;
}

/*ヘッダ*/
#head{
	width: 950px;
}
	#headt{
		background:#4C494C;
		font-size:100%;
		padding:10px 20px 5px 50px;
		border-bottom:2px solid #860217;
		text-align:right;
		}
	#headt a:link {text-decoration: none;color : #eee;}
	#headt a:visited  {text-decoration: none; color : #c1c8da; }
	#headt a:active {text-decoration: none; color : #fdd95d;}
	#headt a:hover  {text-decoration: none; color : #8fb5ee;}	

		
		
.headread{
padding:50px 80px 20px 80px;
font-size:14px;
line-height:160%;
letter-spacing:1px;
color:#222;
font-weight:normal;
}		

/*トップページ以外のヘッダのタイトル*/
.ti2{
text-align:center;
padding:20px 0px 25px 0px;
font-size:200%;
line-height:160%;
font-family:"ＭＳ Ｐ明朝", "細明朝体", "ヒラギノ明朝 Pro W3";
}

/*タイトルの部分*/
h1{
	margin:0px;
	padding:25px 0px 0px 100px;
	height:75px;
	font-size:300%;
	background : url(img/titlebg.gif) no-repeat;
	font-family:Arial Black;
	color:#333;
	}
	
/*左のブロック*/
#left{
	width: 200px;
	float: left;
}

.menu{
	padding:0px 5px 0px 0px;
	margin-bottom:15px;
	}
	
		
#left ul{
	margin:0px;
	padding:5px 0px 0px 0px;
	list-style:none;
	}
	#left li{
		margin:5px 0px;
		padding:2px 0px 0px 20px;
		background : url(img/listbg.gif) no-repeat;
		}

		
/*右のブロック*/
#right{
	width: 950px;
	float: right;
}

/*右のタイトル部分*/
.bg{
height:95px;
background-image:url(../newimg/topbg.jpg);
background-position:left;
background-repeat:no-repeat;
border-bottom:6px solid #eee;
}


/*小見出し*/

h2{
	margin:0px;
	padding:30px 5px 10px 120px;
	line-height:160%;
	letter-spacing:2px;
	font-size:140%;
	color:#000;
	float: left;
	}
	
h3{
background:#860217;
		font-size:140%;
		padding:5px 20px 8px 60px;
		color:#fff;
		line-height:140%;
		text-align:left;
}


/*小見出しの下の文章*/

.maintext{
        font-size:130%;
		padding:5px 20px 60px 100px;
		color:#000;
		line-height:200%;
		text-align:left;
		letter-spacing:2px;
		font-family:"ＭＳ Ｐ明朝", "細明朝体", "ヒラギノ明朝 Pro W3";
}



/*説明文章に使う*/	
.read{padding:15px 5px 10px 250px;
font-size:16px;
line-height:160%;
letter-spacing:1px;
color:#000;
font-weight:normal;}

.clear{
clear:both;}

	
	/*メインの記事の部分*/
	.main{
	margin:5px 70px 5px 10px;
	padding:15px 10px 15px 10px;
	background-color:#FFFFFF;
		}
		
	/*本文をくくる*/
	p{
		margin:0px;
		padding:3px 0px 5px 2px;
		line-height:150%;
		}
		
	/*別バージョン*/
	.main2{
	clear:both;
	width:900px;
	padding:10px 0px 10px 50px;
	margin:10px 0px;
	background : url(img/main2bg.gif) repeat-x center top;
	line-height:200%;
		}


/*作品紹介で横位置作品のスペース調整*/
	.imgsp{
	padding:68px 0px 40px 0px;
	}
	
.imgsp2{
	margin:0px 15px 0px 15px;
	}



		
		
/*著作権表示の部分つまりフッタ*/
#foot{
	clear:both;
	margin:0 auto;
	padding:2px 0px 0px 0px;
	text-align:center;
	font-size:90%;
	border-bottom:2px solid #860217;
	}
	#foot a{
		color:#6B6E72;
		}
	
#foot2{
	text-align:center;
	font-size:50%;
	padding:3px 0px;
	}
	
	#foot2 a{
		color:#000;
		text-decoration:none;
		}
	#foot2 a:hover{
		text-decoration:underline;
		}
	.both{
		clear:both;
		}
