@charset "shift_jis";


body {
	font-family: "メイリオ", "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 75%;		/*全体的な文字サイズ設定箇所*/
	line-height: 2;
	color: #333333;		/*全体的な文字色設定箇所*/
	margin: 0px;
	padding: 0px;
	text-align: center;
	background: #f5f6f7 url(images/bg.gif) repeat-x top;	/*壁紙と背景色。imagesフォルダに入っているbg.gifを横並び(repeat-x)で上部(top)に配置させる。*/
}

h1,h2,h3,h4,p,ul,li,dl,dt,dd{
	margin: 0px;
	padding: 0px;
}

ul{
	list-style-type: none;
}

img {
	border: none;
}

.fla {
	text-align: center;
	height: 200px;
	background: #000102;
	padding-top: 100px;
	color: #999999;
}

.color1 {
	color: #0D3F69;
}

.look {
	background: #e8edf1;
}



/*コンテナー（HP全体の枠組み）
------------------------------------------------------------------------------------------*/
#container {
	width: 900px;		/*HPの幅*/
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	background: #FFFFFF url(images/container_bg.gif) repeat-y;	/*背景色を白に。imagesフォルダに入っているcontainer_bg.gifを縦にリピート(repeat-y)。*/
}




/*ヘッダー
------------------------------------------------------------------------------------------*/
#header {
	position: relative;
	background: #003561 url(images/header_bg.gif) no-repeat;	/*ヘッダーの背景色と壁紙。imagesフォルダのheadder_bg.gifを配置させている。*/
}

#header h1 {
	font-size: 10px;	/*h1タグの文字サイズ*/
	color: #fafafa;		/*文字色*/
	line-height: 1.2;
	position: absolute;	/*ヘッダーに対して絶対配置させる指示*/
	left: 20px;			/*ヘッダーに対しての横からの位置指定*/
	top: 5px;			/*ヘッダーに対しての上からの位置指定*/
	font-weight: normal;
}

#header img {
	vertical-align: top;
	padding-top: 18px;
}




/*ナビメニュー（メインメニューの右上にある小さなメニュー）
------------------------------------------------------------------------------------------*/
#nav {
	position: absolute;	/*ヘッダーに対して絶対配置させる指示*/
	top: 72px;			/*ヘッダーに対しての上からの位置指定*/
	right: 0px;			/*ヘッダーに対しての右からの位置指定*/
	line-height: 26px;
	background: url(images/nav_bg.gif);
	padding-left: 50px;
	font-size: 11px;	/*ナビメニューの文字サイズ*/
}

#nav li {
	float: left;
	width: 10em;		 /*IE7のメイリオフォントだと8em（8文字）分にしか表示されないので注意*/
	overflow: hidden;
	height: 21px;
}

#nav li a {
	color: #FFFFFF;		/*文字色*/
	text-decoration: none;	/*通常リンクの下線を外す指定。下線を出したいならこの１行を丸ごと削除。*/
	background: url(images/arrow1.gif) no-repeat left center;	/*左の赤い矢印設定。*/
	padding-left: 13px;
}

#nav a:hover {
	color: #e60012;		/*カーソルを乗せた時の文字色*/
	background: url(images/arrow1.gif) no-repeat 2px center;	/*カーソルを乗せた時に矢印を2pxだけ動かす設定。*/
}



/*メインメニュー
------------------------------------------------------------------------------------------*/
ul#menu li {
	float: left;
	height: 66px;
	width: 150px;
}
ul#menu img {
	vertical-align: top;
}



/*コンテンツ
------------------------------------------------------------------------------------------*/
#contents {
	clear: left;	/*メインメニューのfloat解除*/
	width: 100%;
}



/*メインコンテンツ（左側ブロック）
------------------------------------------------------------------------------------------*/
#main {
	float: left;
	width: 570px;
	margin-left: 15px;
	margin-top: 15px;
	margin-bottom: 100px;
	display: inline;
}

#main h2 {
	background: #00539A url(images/h2_bg.gif) no-repeat;	/*h2見出しの背景画像と背景色設定。*/
	height: 45px;
	font-size: 110%;	/*文字サイズ*/
	color: #FFFFFF;		/*文字色*/
	padding-left: 15px;
	line-height: 45px;
	overflow: hidden;
}

#main p {
	padding: 0.5em 10px 1em;
}

#main a {
	color: #000000;	/*メインコンテンツのリンク色設定*/
}

#main a:hover {
	color: #e60012;	/*メインコンテンツのリンクのカーソルがのった時の色*/
}



/*メインコンテンツ内の「What's New」部分
---------------------------------------------------------------------------*/
#main dl.new {
	width: 548px;		/*What's Newボックスの幅*/
	height: 100px;		/*What's Newボックスの高さ*/
	overflow: auto;		/*この設定でiframe風に見える*/
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	border-right: 1px solid #0060B2;	/*What's Newのフチの右ライン。*/
	border-bottom: 1px solid #0060B2;	/*What's Newのフチの下ライン。*/
	border-left: 1px solid #0060B2;		/*What's Newのフチの左ライン。*/
	background: #e8edf1;	/*What's Newボックスの背景色*/
}

#main dt {
	font-weight: bold;	/*日付を太字に。通常の太さがいいなら、この1行を丸ごと削除。*/
	color: #0D3F69;		/*日付の文字色を青（#0D3F69）に*/
}

#main dd {
	border-bottom: 1px dotted #1D5F87;	/*説明文の下に1pxの点線(dotted)を#1D5F87の色で入れる。*/
}



/*販売リストページのボックス設定
---------------------------------------------------------------------------------------------------------*/
.box {
	width: 570px;	/*テーブルの幅*/
	font-size: 100%;
	margin-right: auto;
	margin-left: auto;
	border-bottom: 1px dashed #0D3F69;	/*テーブルの下に#0D3F69の色で点線(dashed)を入れる設定。直線がいいならsolidにする。*/
	margin-bottom: 10px;
}

.box td{
	padding-bottom: 10px;
	vertical-align: top;
}

/*商品名設定*/
.box h4 {
	border-bottom: 1px solid #0D3F69;	/*商品名の下に1px幅の#0D3F69色の直線を入れる*/
	border-left: 4px solid #0D3F69;		/*商品名の左に4px幅の#0D3F69色の直線を入れる*/
	padding-left: 5px;
	font-size: 120%;		/*文字サイズ*/
	position: relative;
}

/*価格設定*/
.box h4 span {
	position: absolute;
	right: 0px;
	color: #e60012;	/*価格の文字色*/
}

/*SOLD OUT表示設定*/
.box .soldout {
	background: url(images/soldout.gif) no-repeat right bottom;	/*SOLD OUT画像を右下に配置させる。*/
}

/*ボックス内にある画像の設定*/
.box img {
	padding: 4px;				/*写真とフチ線の間にある余白*/
	border: 1px solid #cccccc;	/*写真のフチ設定。solidは直線という意味。*/
	margin: 2px;
}

.box a:hover img {
	border: 1px solid #333333;	/*画像にカーソルがのった時のライン色変更設定。*/
}




/*サブコンテンツ（右側ブロック）
------------------------------------------------------------------------------------------*/
#sub {
	float: right;
	width: 270px;
	color: #FFFFFF;		/*サブコンテンツの文字色*/
	background: #003561;
	margin: 15px 15px 100px;
	display: inline;
}

#sub a {
	color: #FFFFFF;		/*サブコンテンツのリンクの文字色*/
	background: #003561;
}

#sub a:hover {
	color: #e60012;		/*サブコンテンツのリンクにカーソルがのった時の文字色*/
}

#sub p {
	padding-top: 0.5em;
	padding-bottom: 1em;
}

#sub h3 {
	background: #000203 url(images/h3_bg.gif) repeat-x top;
	line-height: 31px;
	text-align: center;		/*文字をセンタリング。左よせでいいならこの１行を丸ごと削除。*/
	letter-spacing: 0.2em;	/*文字間隔を少し広げる設定。*/
	font-size: 100%;
}




/*フッター
------------------------------------------------------------------------------------------*/
#footer {
	clear: both;
	width: 100%;
	text-align: center;
	background: #000102;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFFFFF;
}

#footer a {
	color: #FFFFFF;
	background: #000102;
}
