@charset "shift_jis";

/*
---------------------------------------------------------------------------
■制作元：テンプレートパーティー
■URL：http://template-party.com/
---------------------------------------------------------------------------*/

body {
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";
	font-size: 80%;	/*全般の文字サイズ*/
	line-height: 2;	/*全般の行間*/
	color: #514f4d;	/*全般の文字色*/
	background-color: #E4E3DF;	/*背景色*/
	margin: 0px;
	padding: 0px;
	text-align: center;
	background-image: url(../images/bg.jpg);	/*背景壁紙読み込み*/
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form{
	margin: 0px;
	padding: 0px;
}
ul{
	list-style-type: none;
}
img {
	border: none;
}
input,textarea,select {
	font-size: 1em;
}
form {
	margin: 0px;
}
table {
	border-collapse:collapse;
	font-size: 100%;
	border-spacing: 0;
}

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color: #514f4d;
}
a:hover {
	color: #FF0000;			/*カーソルオーバー時の文字色*/
	text-decoration: none;	/*カーソルオーバー時に下線を消す設定*/
}

/*コンテナー（HPを囲むブロック）
---------------------------------------------------------------------------*/
#container {
	width: 850px;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
}

/*ヘッダー（ハートのロゴなどが入っているHP上部ブロック）
---------------------------------------------------------------------------*/
#header {
	background-image: url(../images/header_bg.jpg);	/*ヘッダー背景画像*/
	background-repeat: no-repeat;
	height: 430px;	/*ヘッダーの高さ*/
	width: 100%;
	position: relative;
	margin-bottom: 20px;
}
/*h1タグ設定*/
#header h1 {
	font-size: 10px;		/*文字サイズ*/
	line-height: 20px;		/*行間*/
	position: absolute;
	right: 70px;			/*ヘッダーブロックに対して右から70pxの位置に配置*/
	bottom: 10px;			/*ヘッダーブロックに対して下から10pxの位置に配置*/
	font-weight: normal;	/*文字の太さを標準に（この１行を削除すれば太字になります）*/
	text-align: right;		/*テキストを右寄せ*/
}
#header h1 a {
	text-decoration: none;
}

/*メインメニュー（お花のメニュー）
---------------------------------------------------------------------------*/
/*HOMEのメニューの場所設定*/
ul#menu li#menu1 {
	position: absolute;
	left: 0px;	/*ヘッダーブロックに対して左から0pxの位置に配置*/
	top: 80px;	/*ヘッダーブロックに対して上から80pxの位置に配置*/
}
/*ABOUTのメニューの場所設定*/
ul#menu li#menu2 {
	position: absolute;
	left: 160px;	/*ヘッダーブロックに対して左から160pxの位置に配置*/
	top: 110px;		/*ヘッダーブロックに対して上から110pxの位置に配置*/
}
/*SHOPPINGのメニューの場所設定*/
ul#menu li#menu3 {
	position: absolute;
	left: 330px;	/*ヘッダーブロックに対して左から330pxの位置に配置*/
	top: 75px;		/*ヘッダーブロックに対して上から75pxの位置に配置*/
}
/*SOLDOUTのメニューの場所設定*/
ul#menu li#menu4 {
	position: absolute;
	left: 65px;	/*ヘッダーブロックに対して左から65pxの位置に配置*/
	top: 265px;	/*ヘッダーブロックに対して上から265pxの位置に配置*/
}
/*LINKのメニューの場所設定*/
ul#menu li#menu5 {
	position: absolute;
	left: 260px;	/*ヘッダーブロックに対して左から260pxの位置に配置*/
	top: 260px;		/*ヘッダーブロックに対して上から260pxの位置に配置*/
}

/*コンテンツ（メインコンテンツを囲むブロック）
---------------------------------------------------------------------------*/
#contents {
	background-image: url(../images/contents_bg.jpg);	/*コンテンツ上部の角が丸くなった壁紙読み込み*/
	background-repeat: no-repeat;
	background-position: top;
	background-color: #FFFFFF;	/*背景色*/
	padding-top: 30px;	/*壁紙の高さ分をここに設定*/
}

/*メインコンテンツ
---------------------------------------------------------------------------*/
#main {
	width: 700px;		/*メインコンテンツの幅*/
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 30px;
}

/*h2タグ設定*/
#main h2 {
	font-size: 14px;	/*文字サイズ*/
	padding-right: 10px;
	padding-left: 10px;
}
/*HOME（index.html）でのh2タグ設定*/
#page1 #main h2 {
	color: #A72026;		/*文字色*/
	border-bottom: 5px solid #A72026;	/*下線の幅、線種、色の設定*/
}
/*ABOUT（about.html）でのh2タグ設定*/
#page2 #main h2 {
	color: #9c7b58;		/*文字色*/
	border-bottom: 5px solid #9c7b58;	/*下線の幅、線種、色の設定*/
}
/*SHOPPING（shopping.html）でのh2タグ設定*/
#page3 #main h2 {
	color: #d38a84;		/*文字色*/
	border-bottom: 5px solid #d38a84;	/*下線の幅、線種、色の設定*/
}
/*SOLDOUT（soldout.html）でのh2タグ設定*/
#page4 #main h2 {
	color: #7c9141;		/*文字色*/
	border-bottom: 5px solid #7c9141;	/*下線の幅、線種、色の設定*/
}
/*LINK（link.html）でのh2タグ設定*/
#page5 #main h2 {
	color: #4a8ca3;		/*文字色*/
	border-bottom: 5px solid #4a8ca3;	/*下線の幅、線種、色の設定*/
}
/*段落タグの余白*/
#main p {
	padding: 0.5em 10px 1em;
}
/*段落タグ内だけど、幅を一杯に使いたい場合用*/
#main p.img {
	padding-right: 0px;
	padding-left: 0px;
}

/*フッター
---------------------------------------------------------------------------*/
#footer {
	text-align: center;			/*センタリング*/
	clear: both;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}
/*フッター内にリンク設定した場合用*/
#footer a {
	text-decoration: none;
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
#main .new {
	overflow: auto;
	height: 165px;			/*ボックスの高さ*/
	width: 680px;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 1em;
}
#main .new dl {
	clear: left;
	width: 660px;
	border-bottom: 1px solid #DDDCD8;	/*日付ごとに入る下線の幅、線種、色*/
	overflow: hidden;
}
#main .new dt {
	font-weight: bold;	/*日付を太字に*/
	float: left;
	width: 100px;
}
#main .new dd {
	float: left;
	width: 560px;
}
#main .new dd img {
	vertical-align: middle;
}
*html #main .new dd img {
	margin-top: 0.8em;
	vertical-align: baseline;
}

/*テーブル１
---------------------------------------------------------------------------*/
.ta1 {
	width: 700px;
}
.ta1, .ta1 td, .ta1 th{
	border: 1px solid #cccccc;	/*枠線の幅と線種と色*/
}
/*テーブル内の右側*/
.ta1 td{
	width: 477px;				/*幅*/
	padding: 10px;				/*テーブル内の余白*/
	vertical-align: top;
}
/*テーブル内の左側のth見出し部分*/
.ta1 th{
	width: 180px;				/*幅*/
	padding: 10px;				/*テーブル内の余白*/
	text-align: center;			/*文字をセンタリング*/
	background-color: #E4E3DF;	/*背景色*/
}
/*テーブルタグ内の段落タグ*/
.ta1 p {
	padding: 0px !important;
}
/*HOME（index.html）でのテーブル内のh3タグ設定*/
#page1 .ta1 h3 {
	font-size: 14px;	/*文字サイズ*/
	color: #A72026;		/*文字色*/
	border-bottom: 2px dotted #A72026;	/*下線の幅と線種と色*/
	margin-bottom: 0.5em;
}
/*ABOUT（about.html）でのテーブル内のh3タグ設定*/
#page2 .ta1 h3 {
	font-size: 14px;	/*文字サイズ*/
	color: #9c7b58;		/*文字色*/
	border-bottom: 2px dotted #9c7b58;	/*下線の幅と線種と色*/
	margin-bottom: 0.5em;
}
/*SHOPPING（shopping.html）でのテーブル内のh3タグ設定*/
#page3 .ta1 h3 {
	font-size: 14px;	/*文字サイズ*/
	color: #d38a84;		/*文字色*/
	border-bottom: 2px dotted #d38a84;	/*下線の幅と線種と色*/
	margin-bottom: 0.5em;
}
/*SOLDOUT（soldout.html）でのテーブル内のh3タグ設定*/
#page4 .ta1 h3 {
	font-size: 14px;	/*文字サイズ*/
	color: #7c9141;		/*文字色*/
	border-bottom: 2px dotted #7c9141;	/*下線の幅と線種と色*/
	margin-bottom: 0.5em;
}
/*LINK（link.html）でのテーブル内のh3タグ設定*/
#page5 .ta1 h3 {
	font-size: 14px;	/*文字サイズ*/
	color: #4a8ca3;		/*文字色*/
	border-bottom: 2px dotted #4a8ca3;	/*下線の幅と線種と色*/
	margin-bottom: 0.5em;
}
/*HOME（index.html）でのテーブル内のh3タグにリンク設定した場合の文字色*/
#page1 .ta1 h3 a {
	color: #A72026;
}
/*ABOUT（about.html）でのテーブル内のh3タグにリンク設定した場合の文字色*/
#page2 .ta1 h3 a {
	color: #9c7b58;
}
/*SHOPPING（shopping.html）でのテーブル内のh3タグにリンク設定した場合の文字色*/
#page3 .ta1 h3 a {
	color: #d38a84;
}
/*SOLDOUT（soldout.html）でのテーブル内のh3タグにリンク設定した場合の文字色*/
#page4 .ta1 h3 a {
	color: #7c9141;
}
/*LINK（link.html）でのテーブル内のh3タグにリンク設定した場合の文字色*/
#page5 .ta1 h3 a {
	color: #4a8ca3;
}
/*h3タグにリンクを設定した際のカーソルオーバー時の文字色（全ページ共通にしています）*/
#page1 .ta1 h3 a:hover,
#page2 .ta1 h3 a:hover,
#page3 .ta1 h3 a:hover,
#page4 .ta1 h3 a:hover,
#page5 .ta1 h3 a:hover {
	color: #FF0000;
}

/*テーブル１行目に入ったth見出し部分（全ページ共通部分）*/
.ta1 th.tamidashi{
	width: auto;
	text-align: left;
	color: #FFFFFF;		/*文字色*/
}
/*HOME（index.html）でのテーブル１行目に入ったth背景色*/
#page1 .ta1 th.tamidashi{
	background-color: #A72026;
}
/*ABOUT（about.html）でのテーブル１行目に入ったth背景色*/
#page2 .ta1 th.tamidashi{
	background-color: #9c7b58;
}
/*SHOPPING（shopping.html）でのテーブル１行目に入ったth背景色*/
#page3 .ta1 th.tamidashi{
	background-color: #d38a84;
}
/*SOLDOUT（soldout.html）でのテーブル１行目に入ったth背景色*/
#page4 .ta1 th.tamidashi{
	background-color: #7c9141;
}
/*LINK（link.html）でのテーブル１行目に入ったth背景色*/
#page5 .ta1 th.tamidashi{
	background-color: #4a8ca3;
}

/*その他
---------------------------------------------------------------------------*/
.look {
	background-color: #E4E4E4;
}
.mb1em {
	margin-bottom: 1em;
}
.clear {
	clear: both;
}
ul.disc {
	padding: 0.5em 10px 0.5em 25px;
	list-style: disc;
}
.color1 {
	color: #FF0000;
}
.pagetop {
	text-align: right;
}
.c {
	text-align: center;
}
a:hover.po {
	position: relative;
	left: 1px;
	top: 1px;
}
.pr {
	font-size: 10px;
}
