a:link { color: blue; }
a:visited { color: blue; }
a:active { color: red;}
a:hover { color: red; }
body { background-color: #e0ffe0; }

img {
margin: 0px;
padding: 0px;
border-width: 0px;
}

p.style3a{
text-align: left;
font-family: "ƒƒCƒŠƒI","‚l‚r ‚oƒSƒVƒbƒN"; 
background-color: #f0fff0;
margin: 4px 40px 4px 40px;
}


p.style3b{
text-align: center;
font-size: 13px; 
line-height: 20px;
font-family: "ƒƒCƒŠƒI","‚l‚r ‚oƒSƒVƒbƒN"; 
background-color: #f0fff0;
margin: 2px 15px 2px 15px;
}

p.style3c{
text-align: left;
font-size: 13px; 
line-height: 18px;
font-family: "ƒƒCƒŠƒI","‚l‚r ‚oƒSƒVƒbƒN"; 
background-color: #f8f8f8;
margin: 2px 10px 2px 10px;
}


p.style3d{
text-align: left;
font-size: 13px; 
line-height: 20px;
font-family: "ƒƒCƒŠƒI","‚l‚r ‚oƒSƒVƒbƒN"; 
background-color: #d0e0f0;
margin: 2px 10px 2px 10px;
}


p.style4a{
text-align: left;
font-size: 20px; 
line-height: 28px;
font-family: "ƒƒCƒŠƒI","‚l‚r ‚oƒSƒVƒbƒN"; 
margin: 2px 10px 5px 10px;
}


p.style4b{
text-align: left;
font-size: 13px; 
line-height: 18px;
font-family: "ƒƒCƒŠƒI","‚l‚r ‚oƒSƒVƒbƒN"; 
margin: 2px 10px 2px 10px;
}


p.style4bredb{
color: brown;
text-align: left;
font-size: 13px; 
line-height: 18px;
font-family: "ƒƒCƒŠƒI","‚l‚r ‚oƒSƒVƒbƒN"; 
background-color: #f0fafa;
margin: 2px 10px 2px 10px;
}

p.style4bredo{
color: brown;
text-align: left;
font-size: 13px; 
line-height: 18px;
font-family: "ƒƒCƒŠƒI","‚l‚r ‚oƒSƒVƒbƒN"; 
background-color: #fff0a0;
margin: 2px 10px 2px 10px;
}

p.style4c{
text-align: center;
font-size: 14px; 
line-height: 28px;
font-family: "ƒƒCƒŠƒI","‚l‚r ‚oƒSƒVƒbƒN"; 
background-color: #b8d8ff;
margin: 2px 10px 5px 10px;
}

p.style5bredo{
color: brown;
text-align: left;
font-size: 13px; 
line-height: 18px;
font-family: "ƒƒCƒŠƒI","‚l‚r ‚oƒSƒVƒbƒN"; 
background-color: ##ffe4e1;
margin: 2px 10px 2px 10px;
}

p.style6bredo{
color: indigo;
text-align: left;
font-size: 13px; 
line-height: 18px;
font-family: "ƒƒCƒŠƒI","‚l‚r ‚oƒSƒVƒbƒN"; 
background-color: #ffe4e1;
margin: 2px 10px 2px 10px;
}


p.style7bredo{
color: blueviolet;
text-align: left;
font-size: 13px; 
line-height: 18px;
font-family: "ƒƒCƒŠƒI","‚l‚r ‚oƒSƒVƒbƒN"; 
background-color: #99ff99;
margin: 2px 10px 2px 10px;
}


p.style8bredo{
color: orangered;
text-align: left;
font-size: 13px; 
line-height: 18px;
font-family: "ƒƒCƒŠƒI","‚l‚r ‚oƒSƒVƒbƒN"; 
background-color: #D8BFD8;
margin: 2px 10px 2px 10px;
}



p.style9bredo{
color: blue;
text-align: left;
font-size: 13px; 
line-height: 18px;
font-family: "ƒƒCƒŠƒI","‚l‚r ‚oƒSƒVƒbƒN"; 
background-color: #afeeee;
margin: 2px 10px 2px 10px;
}