/*menu*/
img.menu{
	height: 100px;
	width: 100px;
	border: 0px;
	}
a.menu{
	background-color:#333300;
	}
a.menu:hover{
	background-color:#CCFFFF;
	}
img.flag{
	border: 0px;
	}
	
.btitle{
	font-size:30px;
	font-weight:bolder;
	}
.stitle{
	font-size:14px;
	font-weight:bolder;
	}
	
/*copyright*/
.copyright{
	margin: auto;
	text-align: center;
}
table.copyright{
	background-color: #CCFFFF;
	font-size: 14px;
}
a.blacklink:link{
	color: black;
}
a.blacklink:hover{
	color: black;
}
a.blacklink:visited{
	color: black;
}

/*title*/
h1{
	font-size: 50px;
	text-indent: 0.5em;
}
h2{
	font-size: 30px;
	text-indent: 2em;
}

/*main*/
.main{
	background-color: #EEEEEE;
	width: 850px;
	margin: auto;
}
a.word{
	color:red;
	}
.select{
	font-size: 25px;
}
.area{
	border: 1px;
	border-color: #C0C0C0;
	border-style: solid;
}