body{
	font-size:30px;
}
h1{
	font-size:40px;
	//text-align:center;
}
.class{
	text-indent:0.1em;
	margin-bottom:-15px;
	font-size:1800px;
	font-family:'‚l‚r ‚oƒSƒVƒbƒN';
	text-align:left;
	color:black;
	font-style:italic;
}
.shita{
	font-size:25px;
}

a:link{color:#000000}
a:active{color:#FF0000}
a:visited{color:tomato}
a:hover{color:#000000}
