.side{
	font-size:1.5em;
	margin:16px;
}

#main{
	width:730px;
	margin:auto;
	text-align:center;
}

img{
	display:block;
	margin:auto;
}

.fa{
	font-size:2em;
}

#now1{
	border:solid 2px;
	border-color:#F00;
}

.l1{
	border:solid 2px;
	border-color:#00F;
}
