/* 基本設定 */
body{
font-size:small;
color:#333333;
text-align:center;
}

/* リンク設定 */ 
a:link{text-decoration:underline; color:#aadd55;}
a:visited{text-decoration:underline; color:#aadd55;}
a:hover{text-decoration:none; position:relative; top:2px; left:2px; color:#55dd11;}

/* リスト設定 */ 
ul{
list-style-position:inside;
margin:5px 0px 0px 15px;
} 

/* 画像のボーダーをあらかじめ０にする */
img{border:none;}

/* デザイン全般の設定 */
#all{
text-align:left;
width:1000px;
margin:50px auto;
}
#left{width:270px;margin:0px 0px 0px 20px;}
#main{width:700px;}
#left,#main{float:left;}
#back{
text-align:right;
border-top:1px dotted #aaaaaa;
padding:5px 15px 40px 0px;
}

/* 見出し設定 */ 
h1{
font-size:36px;
color:#aaaaaa;
font-weight:normal;
margin:0px;
padding:50px 0px 10px 20px;
}
h1:first-letter{color:#aadd55;}
h2{
position:relative;
top:9px;
font-size:x-large;
letter-spacing:3px;
color:#ffbb55;
margin:0px;
padding:0px 10px;
}
h3{
font-size:small;
color:#99cc33;
text-align:right;
border-bottom:1px dotted #aaaaaa;
margin:0px 0px 0px 0px;
padding:15px 15px 2px 15px;
}

/* メニュー設定 */
#menu{
font-size:14px;
background:#ffffee;
border-top:1px solid #ffe860;
border-right:0px;
border-left:1px solid #ffe860;
border-bottom:1px solid #ffe860;
}
#menu ul{
list-style-type:none;
margin:0px;
padding:20px 0px 20px 20px;
}
#menu li{display:inline;}
#menu li a{
display:block;
color:#aaaaaa;
background:url(menu01.gif) no-repeat 0% 50%;
margin:9px 0px;
padding:0px 10px 0px 11px;
}
#menu li a:hover{color:#ffaa33;}

/* テキスト設定 */
.text2{background:url(txt2.jpg) no-repeat 100% 0%;}
.text1,.text2{
line-height:24px;
border:3px double #ddff99;
margin:0px 0px 30px 0px;
padding:20px 15px;
}
.text10{
font-size:90%;
color:#666666;
line-height:18px;
padding:12px 15px 40px 10px;
}
