body {
	background-color: lightcyan;
	font-family: "メイリオ", sans-serif;
}
div.main {
	margin-left: center;
	margin-right: center;
	width: 750px;
}
div.left, div.right {
	background-color: lightgreen;
	float: left;
	margin: 5px 0px;
	-moz-border-radius: 50px;
	padding: 20px 20px;
}
div.left {
	margin-right: 5px;
	height: 1000px;
	padding-top: 40px;
	text-align: center;
	width: 200px;
}
div.right {
	height: 1000px;
	width: 400px;
}
div.hyperlink {
	background-color: lightcyan;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	-moz-border-radius: 0px;
	padding: 0.2em 0em;
	width: 200px;
}
h1 {
	color: navy;
	margin-bottom: -0.4em;
}
a {
	text-decoration: none;
}
p {
	text-align: justify;
	text-indent: 1em;
	text-justify: distribute;
}

/*
	こんにちは、CSSならあまり目に付かないと
	思ったので、記念に色々と書かせてもらいます。

	この度は、HPを大幅リニューアルさせて頂きました。
	前のHPを作られた先輩の方々、すみません(;_;)。
	その代わり、と言ってはなんですが、更新にあたって、
	前回の内容の一部を継承させて頂きました。

	CSSとHTMLですが、私は初心者なので、見た目も汚く、
	非常に見づらいと思います。なので、今後の
	ホームページ更新は、好きな様にやって下さい。
	一部を更新するも良し、一から作り直すも良し。
	でも、なんだか、ワンダーフォーゲル部のHPが豪華
	なので、負けない様にして下さいね。悔しいですから。

	最後に写真に載ってる部員の方々、大変感謝しています。
	どうも皆さんありがとうございました。ではまた。

	制作:某天文部員2ASN(25期生)。2009-3-8に完成せり。
	(現在、実はテスト期間中だったりしますけど。)



        >>更新2013.1
        敬意を表して踏襲しました。
　　　　制作:ある天文部員(高校30期生)
*/

